{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!--Определим зарегистрирован ли пользователь кот-й пытается войти в личный кабинет и это дает возможность зайти уже зарегистрированному пользователю. Авторизирован пользователь на сайте или нет.(Аутентификацию)-->
<!--Это то что будет применяться ко всему сайту-->
{% if user.is_authenticated %} <!--стандартный метод в самом django--> <!--Если пользователь авторизирован-->
<div class="menu"> <!--если пользователь вошёл в свой аккаунт, тo необходимо отобразить его имя, что бы мы видели какой пользователь конкретно на сайте-->
    <div class="wrap">
        <ul>
            <li class="logo"><a href="">Пользователь: {{ user.username }}</a></li>
            <li><a href="{% url 'currenttodos' %}">Актуальные</a></li>
            <li><a href="">Выйти</a></li> <!--Выйти будет когда пользователь аутентифицирован-->
        </ul>
    </div>
</div>
{% else %} <!--Если пользователь не авторизирован-->
<div class="menu">
    <div class="wrap">
        <ul>
            <li><a href="{% url 'signupuser' %}">Зарегистрироваться</a></li>
            <li><a href="">Войти</a></li>
        </ul>
    </div>
</div>
{% endif %}

  <div class="content">
    <div class="wrap">
        <!--Блок, куда будет попадать информация из наших приложений-->
        {% block content %}
        {% endblock %}
    </div>
  </div>
</body>
</html>